version: '3.3'
services:
  db:
    image: mysql:latest
    env_file: .env
    restart: always
    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER:  "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
    ports:
      - "${MYSQL_PORT}:3306"
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql
      
volumes:
  my-db: